name: Clang-Format Check
on: [push, pull_request]
jobs:
  meson-format-check:
    runs-on: ubuntu-latest
    name: Meson Format Check
    steps:
      - uses: actions/checkout@v2
      - name: Add LLVM APT repository
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 22
          sudo apt-get update
      - name: Install clang
        run: |
          sudo apt-get install clang-22 clang-format-22
      - uses: actions/setup-python@v1
      - name: Install meson
        run: |
          python3 -m pip install meson==1.10.0
      - name: Meson format check
        run: |
          meson format --check-diff meson.build
          find modules/ -name 'meson.build' -exec meson format --check-diff {} \;
  code-format-check:
    runs-on: ubuntu-latest
    name: Check code formatting with clang-format and clang-tidy
    steps:
      - uses: actions/checkout@v2
      - name: Add LLVM APT repository
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 22
          sudo apt-get update
      - name: Install clang
        run: |
          sudo apt-get install clang-22 clang-format-22 clang-tidy-22
      - uses: actions/setup-python@v1
      - name: Install meson
        run: |
          python3 -m pip install meson==1.10.0
      - name: Configure meson build
        run: |
          meson setup builddir -Dtests=enabled
      - name: Run lints
        run: |
          ninja -C builddir clang-tidy
          ninja -C builddir clang-format-check
